<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.cbtltd.server.api.DepreciationMapper">

	<cache readOnly="true"/>

	<resultMap id="ResultMap" type="Depreciation">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="CostaccountID" jdbcType="INTEGER" property="costaccountid" />
		<result column="DepreciationaccountID" jdbcType="INTEGER" property="depreciationaccountid" />
		<result column="Name" jdbcType="VARCHAR" property="name" />
		<result column="Type" jdbcType="VARCHAR" property="type" />
		<result column="Months" jdbcType="DOUBLE" property="months" />
	</resultMap>

	<sql id="columns">
		ID, CostaccountID, DepreciationaccountID, Name, Type, Months
	</sql>

	<select id="read" parameterType="String" resultMap="ResultMap">
		select
		<include refid="columns" />
		from depreciation
		where ID = #{id,jdbcType=INTEGER}
	</select>

	<select id="exists" parameterType="Depreciation" resultMap="ResultMap">
		select
		<include refid="columns" />
		from depreciation
		where Name = #{name}
		limit 1
	</select>

	<delete id="delete" parameterType="String">
		delete from depreciation
		where ID = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="create" parameterType="Depreciation" useGeneratedKeys="true" keyProperty="id">
		insert into depreciation (CostaccountID, DepreciationaccountID, Name, Type, Months)
		values (#{costaccountid,jdbcType=INTEGER}, #{depreciationaccountid,jdbcType=INTEGER},
			#{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{months,jdbcType=DOUBLE})
	</insert>

	<update id="update" parameterType="Depreciation">
		update depreciation
		<set>
			<if test="costaccountID != null">
				CostaccountID = #{costaccountID,jdbcType=INTEGER},
			</if>
			<if test="depreciationaccountID != null">
				DepreciationaccountID = #{depreciationaccountID,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				Name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				Type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="months != null">
				Months = #{months,jdbcType=DOUBLE},
			</if>
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>

	<update id="updateByPrimaryKey" parameterType="Depreciation">
		update depreciation
		set CostaccountID = #{costaccountid,jdbcType=INTEGER},
		DepreciationaccountID = #{depreciationaccountid,jdbcType=INTEGER},
		Name = #{name,jdbcType=VARCHAR},
		Type = #{type,jdbcType=VARCHAR},
		Months = #{months,jdbcType=DOUBLE}
		where ID = #{id,jdbcType=INTEGER}
	</update>
	
	<select id="nameidbyid" parameterType="NameIdAction" resultType="NameId">
		select distinct Name, ID
		from depreciation
		where ID = #{id}
	</select>

	<select id="nameidbyname" parameterType="NameIdAction" resultType="NameId">
		select distinct Name, ID
		from depreciation
		<if test="organizationid != null">
		join relation on Link = 'Organization Depreciation'
			and LineID = ID 
			and HeadID = #{organizationid}
		</if>
		where Name <![CDATA[ >= ]]> #{name}
		<if test="type != null">
			and Type = #{type}
		</if>
		order by Name
		limit 0, #{numrows}
	</select>

</mapper>