<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.cbtltd.server.api.ManagerToGatewayMapper">
	<resultMap id="ResultMap" type="ManagerToGateway">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
		<result column="payment_gateway_id" jdbcType="INTEGER" property="paymentGatewayId" />
		<result column="funds_holder" jdbcType="TINYINT" property="fundsHolder" />
		<result column="supplier_id" jdbcType="INTEGER" property="supplierId" />
		<result column="gateway_code" jdbcType="VARCHAR" property="gatewayCode" />
		<result column="gateway_account_id" jdbcType="INTEGER" property="gatewayAccountId" />
		<result column="additional_info" jdbcType="VARCHAR" property="additionalInfo" />
	</resultMap>

	<sql id="columns">
		ID, create_date, payment_gateway_id, funds_holder, supplier_id, gateway_code, gateway_account_id, additional_info
	</sql>

	<insert id="create" parameterType="ManagerToGateway" useGeneratedKeys="true" keyProperty="id">
		insert into manager_to_gateway (create_date, payment_gateway_id, funds_holder, supplier_id, gateway_code, gateway_account_id, additional_info)
		values (#{createDate,jdbcType=DATE}, #{paymentGatewayId,jdbcType=INTEGER}, #{fundsHolder,jdbcType=TINYINT}, #{supplierId,jdbcType=INTEGER}, #{gatewayCode,jdbcType=VARCHAR}, #{gatewayAccountId,jdbcType=INTEGER}, #{additionalInfo,jdbcType=VARCHAR})
	</insert>

	<select id="read" parameterType="int" resultMap="ResultMap">
		select
		<include refid="columns" />
		from manager_to_gateway
		where ID = #{id,jdbcType=INTEGER}
	</select>

	<select id="readBySupplierId" parameterType="int" resultMap="ResultMap">
		select
		<include refid="columns" />
		from manager_to_gateway
		where supplier_id = #{supplierId,jdbcType=INTEGER}
	</select>

	<update id="update" parameterType="ManagerToGateway">
		update manager_to_gateway
		<set>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=VARCHAR},
			</if>
			<if test="paymentGatewayId != null">
				payment_gateway_id = #{paymentGatewayId,jdbcType=INTEGER},
			</if>
			<if test="fundsHolder != null">
				funds_holder = #{fundsHolder,jdbcType=DOUBLE},
			</if>
			<if test="supplierId != null">
				supplier_id = #{supplierId,jdbcType=DATE},
			</if>
			<if test="gatewayCode != null">
				gateway_code = #{gatewayCode,jdbcType=DATE},
			</if>
			<if test="gatewayAccountId != null">
				gateway_account_id = #{gatewayAccountId,jdbcType=DATE},
			</if>
			<if test="additionalInfo != null">
				additional_info = #{additionalInfo,jdbcType=DATE},
			</if>
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>

	<update id="updateByPrimaryKey" parameterType="ManagerToGateway">
		update manager_to_gateway
		set create_date = #{createDate,jdbcType=VARCHAR},
		payment_gateway_id = #{paymentGatewayId,jdbcType=INTEGER},
		funds_holder = #{fundsHolder,jdbcType=DOUBLE},
		supplier_id = #{supplierId,jdbcType=DATE},
		gateway_code = #{gatewayCode,jdbcType=DATE},
		gateway_account_id = #{gatewayAccountId,jdbcType=DATE},
		additional_info = #{additionalInfo,jdbcType=DATE},
		where ID = #{id,jdbcType=INTEGER}
	</update>

	<delete id="delete" parameterType="int">
		delete from manager_to_gateway
		where ID = #{id,jdbcType=INTEGER}
	</delete>
	
	<delete id="deleteBySupplierId" parameterType="int">
		delete from manager_to_gateway
		where supplier_id = #{id,jdbcType=INTEGER}
	</delete>		
	
	
</mapper>