<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.cbtltd.server.api.UnitMapper">

	<cache readOnly="true"/>

	<resultMap id="ResultMap" type="Unit">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="Name" jdbcType="VARCHAR" property="name" />
		<result column="State" jdbcType="VARCHAR" property="state" />
		<result column="ConversionFactor" jdbcType="VARCHAR" property="conversionFactor" />
		<result column="Symbol" jdbcType="VARCHAR" property="symbol" />
		<result column="Level" jdbcType="VARCHAR" property="level" />
		<result column="Notes" jdbcType="VARCHAR" property="notes" />
	</resultMap>

	<sql id="columns">
		ID, Name, State, ConversionFactor, Symbol, Level, Notes
	</sql>

	<select id="read" parameterType="String" resultMap="ResultMap">
		select
		<include refid="columns" />
		from unit
		where ID = #{id,jdbcType=VARCHAR}
	</select>

	<delete id="delete" parameterType="String">
		delete from unit
		where ID = #{id,jdbcType=VARCHAR}
	</delete>

	<insert id="create" parameterType="Unit">
		insert into unit (ID, Name, State, ConversionFactor, Symbol, Level, Notes)
		values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR},
		#{conversionFactor,jdbcType=VARCHAR}, #{symbol,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR},
		#{notes,jdbcType=VARCHAR})
  </insert>

	<update id="update" parameterType="Unit">
		update unit
		<set>
			<if test="name != null">
				Name = #{name,jdbcType=VARCHAR},
      </if>
			<if test="state != null">
				State = #{state,jdbcType=VARCHAR},
      </if>
			<if test="conversionFactor != null">
				ConversionFactor = #{conversionFactor,jdbcType=VARCHAR},
      </if>
			<if test="symbol != null">
				Symbol = #{symbol,jdbcType=VARCHAR},
      </if>
			<if test="level != null">
				Level = #{level,jdbcType=VARCHAR},
      </if>
			<if test="notes != null">
				Notes = #{notes,jdbcType=VARCHAR},
      </if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>

	<update id="updateByPrimaryKey" parameterType="Unit">
		update unit
		set Name = #{name,jdbcType=VARCHAR},
		State = #{state,jdbcType=VARCHAR},
		ConversionFactor = #{conversionFactor,jdbcType=VARCHAR},
		Symbol = #{symbol,jdbcType=VARCHAR},
		Level = #{level,jdbcType=VARCHAR},
		Notes = #{notes,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>

	<select id="nameidbyid" parameterType="NameIdAction" resultType="NameId">
		select distinct Name, ID
		from unit
		where ID = #{id}
	</select>

	<select id="nameidbyname" parameterType="NameIdAction" resultType="NameId">
		select distinct Name, ID
		from unit
		<if test="organizationid != null">
		join relation on Link = 'Organization Unit'
			and LineID = ID 
			and HeadID = #{organizationid}
		</if>
		where Name <![CDATA[ >= ]]> #{name}
		<if test="state == null">
			and State not in ('Initial', 'Final')
		</if>
		<if test="state != null">
			and State in (${state})
		</if>
		order by Name
		limit 0, #{numrows}
	</select>

</mapper>