.descriptionField {width: 300px; height: 60px;}
.eventactionStyle {font-size: 90%;}
.financeField {}
.journaltableLabel {font-size: 70%;	margin-top: 3px;}
.reservationStyle {width: 240px;}
.reversedField {font-size: 70%;	color: gray;}
.taxField {margin-top: 2px;}
.taxLabel {margin-top: 2px;}
.workactorStyle {width: 200px;}
.workitemStyle {font-size: 90%;}