body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
}
		
/*-------------------------- Typography -------------------------- */

/* Headings */
h2 {font-size: 1.2em}	
h3 {font-size: 1.1em}	

h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .2em;
}

/* Anchors */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
color:#006699;
color: #00a3f4;
font-weight:bold
}
a:hover {
color: #006699;
}

a:active  {
color:#111;
}

/* Paragraphs */
p {margin-bottom: 1.143em;}
* p:last-child {margin-bottom: 0;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}


/*-------------------------- Reset the Lists -------------------------- */
	
ul {
	list-style: outside disc;
	margin: 1em 0 1.5em 1.5em;
}

ol {
	list-style: outside decimal;
	margin: 1em 0 1.5em 1.5em;
}

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}


q {}

/* External CSS - not obfuscated */
.fix {clear:both}

.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}

.gwt-CheckBox {margin-left: 0;}

.gwt-DisclosurePanel {
	border: 0;
	margin: 0;
}

.gwt-DisclosurePanel-open { }
.gwt-DisclosurePanel-closed {border: 0;}
.gwt-DisclosurePanel .header a, .gwt-DisclosurePanel .header td {
	text-decoration: none;
	cursor: pointer;
	cursor: hand;
}

.gwt-DisclosurePanel .content {
	padding: 0;
	margin-left: 6px;
}

.gwt-PopupPanelGlass {
  background-color: #000;
  opacity: 0.3;
  filter: literal("alpha(opacity=30)");
  z-index: 2;
}

.gwt-SplitLayoutPanel {}
.gwt-SplitLayoutPanel-HDragger {cursor: col-resize;}
.gwt-SplitLayoutPanel-VDragger {cursor: row-resize;}

.gwt-StackLayoutPanel {
	margin: 5px;
	border: fieldPopup;
}

.gwt-StackLayoutPanel .gwt-StackLayoutPanelHeader {
	background-color: #90A6C6; 
	background-image: -webkit-linear-gradient(top, #CADEFA, #90A6C6); /* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -moz-linear-gradient(top, #CADEFA, #90A6C6);   /* Firefox 3.6+ */
	background-image: -ms-linear-gradient(top, #CADEFA, #90A6C6); /* IE 10+ */
	background-image: -o-linear-gradient(top, #CADEFA, #90A6C6); /* Opera 11.10+ */
	color: labelColor;
	padding: 2px;
	cursor: pointer;
	cursor: hand;
}

.gwt-StackLayoutPanel .gwt-StackLayoutPanelHeader-hovering {}

.gwt-StackLayoutPanel .gwt-StackLayoutPanelContent {
	width: 100%;
	height: 100%;
	background-color: #F3F3F3;
	padding: 0;
}

.gwt-StackPanel {}

.gwt-StackPanelItem {
	margin-top: 10px;
	font-weight: bold;
	cursor: pointer;
	cursor: hand;
}

.gwt-StackPanelItem-selected, .gwt-StackPanelItem-hover {font-style: italic;}

.gwt-SuggestBox {}

.gwt-SuggestBoxPopup {
	margin-left: 5px;
	border: fieldPopup;
	background: white;
	font-family: fontFamily;
	-webkit-box-shadow:0 0 20px #000;
	-moz-box-shadow: 0 0 20px #000;
	box-shadow:0 0 20px #000;
	position: relative;
	z-index: 20;
}
.gwt-SuggestBoxPopup .item {
	padding: 2px 6px;
	color: #424242;
	cursor: default;
}
.gwt-SuggestBoxPopup .item-selected {background: #b7d6f6;}

.gwt-TabLayoutPanel {
	margin: 10px;
	padding: 10px;
	color: labelColor;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {width: 100%;}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
	cursor: pointer;
	cursor: hand;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab:hover {
	font-weight: bold;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabInner {
	font-size: 150%;
	text-align: center;
	text-shadow: labelShadow;
	padding: 5px 20px;
}

.gwt-TabLayoutPanelTabs .gwt-TabLayoutPanelTab-selected {
	background-color: #90A6C6; 
	background-image: -webkit-linear-gradient(top, #CADEFA, #90A6C6); /* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -moz-linear-gradient(top, #CADEFA, #90A6C6);   /* Firefox 3.6+ */
	background-image: -ms-linear-gradient(top, #CADEFA, #90A6C6); /* IE 10+ */
	background-image: -o-linear-gradient(top, #CADEFA, #90A6C6); /* Opera 11.10+ */
	color: white;
	cursor: default;
}

.gwt-TabLayoutPanelTabs .gwt-TabLayoutPanelTab-disabled {}

.gwt-Button, .gwt-Button:active, .gwt-Button:hover, .gwt-ToggleButton-up, .gwt-ToggleButton-up-hovering, .gwt-ToggleButton-up-disabled, .gwt-ToggleButton-down, .gwt-ToggleButton-down-hovering, .gwt-ToggleButton-down-disabled {
	margin: 1px;
	padding: 1px;
	text-align: center;
	color: black;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow:0 0 3px #666;
	-moz-box-shadow: 0 0 3px #666; 
	box-shadow:0 0 3px #666;
	cursor: pointer;
	cursor: hand;
}

.gwt-Button, .gwt-ToggleButton-up, .gwt-ToggleButton-down-hovering {
	background-color: #E1E1E1; 
	background-image: -webkit-linear-gradient(top, #FFFFFF, #E1E1E1); /* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -moz-linear-gradient(top, #FFFFFF, #E1E1E1);   /* Firefox 3.6+ */
	background-image: -ms-linear-gradient(top, #FFFFFF, #E1E1E1); /* IE 10+ */
	background-image: -o-linear-gradient(top, #FFFFFF, #E1E1E1); /* Opera 11.10+ */
}

.gwt-Button:active, .gwt-Button:hover, .gwt-ToggleButton-down, .gwt-ToggleButton-up-hovering {
	background-color: #FFFFFF; 
	background-image: -webkit-linear-gradient(top, #E1E1E1, #FFFFFF); /* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -moz-linear-gradient(top, #E1E1E1, #FFFFFF);   /* Firefox 3.6+ */
	background-image: -ms-linear-gradient(top, #E1E1E1, #FFFFFF); /* IE 10+ */
	background-image: -o-linear-gradient(top, #E1E1E1, #FFFFFF); /* Opera 11.10+ */
}

.gwt-ToggleButton-up-disabled {}

.gwt-ToggleButton-down-disabled {}

.gwt-TimePicker {
	padding: 1px;
}

.gwt-TimePicker .textBox {
	border: 0px;
	width: 22px;
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 11px;
	color: #506374;
	border: 1px solid #7F9DB9;
	background: url('%background%') repeat-x;
}

.gwt-VolumeSlider .gwt-ProgressBar-shell {
	border: 1px solid #faf9f7;
	border-right: 1px solid #848280;
	border-bottom: 1px solid #848280;
	background-color: #AAAAAA;
	width: 50%;
	height: 12pt;
}

.gwt-VolumeSlider .gwt-ProgressBar-shell .gwt-ProgressBar-bar {
	background-color: #67A7E3;
}

.gwt-VolumeSlider .gwt-ProgressBar-shell .gwt-ProgressBar-text {
	padding: 0px;
	margin: 0px;
	color: white;
}

.gwt-VolumeSlider .decreaseArrow {
	margin: 4px;
}

.gwt-VolumeSlider .increaseArrow {
	margin: 4px;
}

